.carousel-inner{
    text-align: center;
}
.carousel-item img{
    display:inline-block;
    max-width: 30%;
    max-height: 100%;
}
.carousel-item{
    width: 100%;
    max-width: 100%;
    height: auto;
    margin:auto;
    margin-top: 50px;
    align-items: center;
}