.main-clientes {
  .carrusel {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;

    .items-carrusel{
       margin: auto;
        width: 50%;
        background: red;
    }
  }
}